<mat-card class='contact'>
    <mat-card-header>
        <mat-card-title>Reach out to me!</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class='contact-details'>
            <div class='center-text'>
                <b>Email:</b>
            </div>
            <div>{{email}}
                <button mat-icon-button (click)='copyToClipboard()'>
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
            <div class='center-text'>
                <b>Resume:</b>
            </div>
            <a href='/assets/CPSC Resume.pdf' download='AnthonyTangGitHubResume.pdf'>AnthonyTangGitHubResume.pdf</a>
            <div class='center-text'>
                <b>LinkedIn:</b>
            </div>
            <a href='https://www.linkedin.com/in/anthonytang411/'>https://www.linkedin.com/in/anthonytang411/</a>
        </div>
    </mat-card-content>
    
    
</mat-card>
