@import "../../styles.scss";
.contact {
    margin: $outer-margin;
    height: calc(100vh - (#{$header-height} + 2*#{$outer-margin} + 32px));
    width: 20rem;
    overflow-x: auto;
}

.contact-details {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-top: 4rem !important;
}

.center-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    text-overflow: ellipsis;
}