<mat-card>
    <mat-tab-group>
        <mat-tab label="Digital Photo Frame">
            <mysite-digital-photoframe>
                
            </mysite-digital-photoframe>
        </mat-tab>
        <mat-tab label="Pi Emulator">
            <mysite-pi-emulator>
                
            </mysite-pi-emulator>
        </mat-tab>
        <mat-tab label="Japanese Flashcard Site">
            <mysite-japanese-website>
                
            </mysite-japanese-website>
        </mat-tab>
        <mat-tab label="Password Strength Measurer">
            <mysite-password-strength-project>
                
            </mysite-password-strength-project>
        </mat-tab>
    </mat-tab-group>
</mat-card>