<div class="page">
    <button
        class="project-arrow project-arrow--prev"
        type="button"
        [disabled]="!hasPrev"
        (click)="navigatePrev()"
        aria-label="Previous project">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="content-column">
        <router-outlet></router-outlet>
    </div>
    <button
        class="project-arrow project-arrow--next"
        type="button"
        [disabled]="!hasNext"
        (click)="navigateNext()"
        aria-label="Next project">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
<mysite-table-of-contents [sections]="tocSections"></mysite-table-of-contents>
