@import "../styles/tokens";

.page-shell {
    min-height: 100%;
    background: linear-gradient(180deg, $color-bg 0%, $color-bg-gradient-end 100%);
}

.page-content {
    padding-top: $header-height;
}
