@import "../styles.scss";
.background {   
    background-image: url('../assets/field.jpg');
    background-size: max(120%, 2000px), 0;
    display: block;
    height: 100%;
    margin-top: -$header-height;
    padding-top: $header-height;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}