<div class='body'>
    <div class='title'>Password Strength Measurer</div>
    <p>
    This is a password strength measurer my group created for a Computer Security course. 
    I would have make this using NodeJS since I was confident with creating a nice UI with HTML and CSS, 
    but since my group members weren't very familiar with JavaScript nor TypeScript, we decided to work with Java.


    I had learnt how to use Java Applets a couple of years ago, so I did all of the UI, as well as a couple of the
    password guessing algorithms.
    <br>
    <br>
    An in-depth explanation of this project can be found on the github page linked below.
    </p>
    <div>
        <img src='assets/password_strength_app.jpg'>
    </div>
</div>

<mat-divider></mat-divider>

<div class='footer'>
    <p>Links:</p>
    <a href='assets/test.jar' download='passwordStrengthMeasurer.jar'>
        <button mat-button>Download<mat-icon>download</mat-icon></button>
    </a>
    <a href='https://github.com/AT41/CPSC-329-Unessay'>
        <button mat-button>Source Code<img class='github' src='assets/github.png'></button>
    </a>
</div>