.title {
    margin: 2rem;
    font-weight: 1000;
    font-size: 2em;
}

.body {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    p {
        min-width: 4em;
        flex-basis: 20em;
        flex-grow: 2;
    }
    div {
        overflow-x: auto;
    }
}

.footer {
    padding-top: 16px;
    p {
        font-weight: 500;
        text-decoration: underline;
        display: inline;
        padding-right: 16px;
    }
    .github {
        height: 24px;
        width: 24px;
    }
}