@import '../personal-projects-styles.scss';

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    p {
        min-width: 4em;
    }
    .description {
        display: flex;
        flex-direction: column;
        width: max(calc(90% - 710px), 30rem);
    }
    img {
        overflow-x: auto;
    }
}
@media only screen and (max-width: 600px) {
    .body {
        justify-content: initial;
    }
}