<div class="section-container" id="section-main">
    <section class="section-card project-intro">
        <div class="project-intro-inner">
            <div class="project-intro-photo">
                <img src="assets/password_strength_app.jpg" alt="Password Strength Measurer">
            </div>
            <div class="project-intro-text">
                <h1 class="project-intro-name">Password Strength Measurer</h1>
                <p class="project-intro-tagline">
                    This is a password strength measurer my group created for a Computer Security course. 
                    I would have make this using NodeJS since I was confident with creating a nice UI with HTML and CSS, 
                    but since my group members weren't very familiar with JavaScript nor TypeScript, we decided to work with Java.
                </p>
                <p class="project-intro-tagline">
                    I had learnt how to use Java Applets a couple of years ago, so I did all of the UI, as well as a couple of the
                    password guessing algorithms.
                    An in-depth explanation of this project can be found on the github page linked below.
                </p>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section-card">
        <h2 class="section-title">
            <mat-icon aria-hidden="true">link</mat-icon>
            Links
        </h2>
        <div class="project-links">
            <a mat-stroked-button href="assets/test.jar" download="passwordStrengthMeasurer.jar">
                Download
                <mat-icon>download</mat-icon>
            </a>
            <a mat-stroked-button href="https://github.com/AT41/CPSC-329-Unessay" target="_blank" rel="noopener">
                Source Code
                <img class="github" src="assets/github.png" alt="">
            </a>
        </div>
    </section>
</div>
