<div class='grid'>
    <mat-card class='main'>
        <mat-card-title>Anthony Tang</mat-card-title>
        <mat-card-subtitle>
            <p>
                Bachelors of Science in Computer Science (3.57 GPA) - Graduating Spring 2021
            </p>
            <p>
                University of Calgary
            </p>
        </mat-card-subtitle>
    </mat-card>
    <mat-card class='secondary'>
        <mat-card-header>
            <mat-card-title>Nice to Meet You!</mat-card-title>
        </mat-card-header>
        <img src="assets/me.jpg">
        <mat-card-content>Welcome to my personal site! This is just going to be a hub where I link some of my personal projects I've worked on over the past couple of years (source code included ツ).</mat-card-content>
    </mat-card> 
    <mat-card class='below-main'>
        <mysite-background-selector></mysite-background-selector>
    </mat-card>
</div>
<div class='body'>
    Add a bit about general history, background
</div>
<mysite-footer></mysite-footer>