<div class='grid'>
    <mat-card class='main'>
        <mat-card-title>Anthony Tang</mat-card-title>
        <mat-card-subtitle>
            <p>
                Bachelors of Science in Computer Science (3.57 GPA) - Graduating Spring 2021
            </p>
            <p>
                University of Calgary
            </p>
        </mat-card-subtitle>
    </mat-card>
    <mat-card class='secondary'>
        <mat-card-header>
            <mat-card-title>Nice to Meet You!</mat-card-title>
        </mat-card-header>
        <img src="assets/me.jpg">
        <mat-card-content>Welcome to my personal site! This is just going to be a hub where I link some of my personal projects I've worked on over the past couple of years (source code included ツ).</mat-card-content>
    </mat-card> 
    <mat-card class='below-main'>
        <mysite-background-selector></mysite-background-selector>
    </mat-card>
</div>
<div class='body'>
    <div class='content'>
        <div>
            I first started programming in my first year of high school, starting off with C++, and going into Java for my second and third year. 
            Having my programs come to life felt rewarding, and building them were incredibly fun! 
            With the additional support in tuition I earned from competitions, I decided to major in computer science in the University of Calgary.
        </div>
    
        <div>
            The most influential decision I came to make in university was my choice to take Japanese language classes. I made tons of good
            memories taking as many Japanese language classes as I could, such as making great friends and volunteering as a Teaching Assistant
            for lower level classes, and conversing with others in Japanese was exciting, even though a lot of conversations were definitely lost in translation!
            Despite language classes taking up more time to study for than all my other classes combined, I'm proud that I stuck with it through my degree.    
        </div>
       
        <div>
            For my fourth year I did a 16 month internship, making medical-based applications with TypeScript and Angular. It was startling to
            realize how little my university classes did to prepare me for my internship, since I had no technical experience with real web development
            at the time. Fortunately for me, my boss was patient and understanding as I stumbled around my first month, and I was able to pick up
            TypeScript and Angular, learn to use git through the CLI, and a lot more.
            As I started getting into the groove of working, I looked for Japanese tutors and took one on one lessons Tuesdays and Thursdays, so
            my Japanese would not get rusty during my hiatus away from university classes. Overall, my internship experience was extremely helpful,
            and I wish internships were more readily available for students to prepare them for their future jobs.
        </div>
        
        <div>
            Hmm... writing the final paragraph has always been the hardest part for me. If you've made it this far, I would like to personally thank
            you for taking the time to get to know me, and I really appreciate it! Especially in the field of computer science, there's always more
            to learn, as both software and hardware are constantly improving, new libraries and API are made every day, and the popularity of
            programming languages change. I love how wide the area of computer science is, but I want to grow my knowledge vertically rather than
            horizontally as I have been doing for my past years in university. I want to be able to be a part of projects that I can constantly
            learn new skills in, and be a member of a larger team on projects that push me to excel.
        </div>
    
        <div>
            It's a pleasure to meet you! 読んでくださいましてありがとうございます。どうぞよろしくお願いいたします。
        </div>
    </div>
    
</div>
<mysite-footer></mysite-footer>