@import '../../styles.scss';

.grid {
    display: grid;
    grid-column-gap: 0;
    height: 100vh;
    grid-template-rows: 40vh 30vh;
    grid-template-columns: 50vw auto;
    grid-column-gap: 10%;
    grid-row-gap: 3rem;
    margin: 0 10vw 0 $outer-margin;
    padding-top: 4rem;
}

mat-card {
    background-color: rgba(255, 255, 255, 0.9);
}

.main {
    display: flex;
    flex-direction: column;
    > mat-card-title {
        margin: 10% 10% 0 10%;
        font-size: 3em;
        padding-bottom: 0.4em;
        border-bottom: 2px solid;
    }
    > mat-card-content {
        margin: 10% 10% 0 10%;
    }
    > mat-card-subtitle {
        margin: max(10%, 4vh) 10% 0 10%;
    }
    p {
        margin: 0;
    }
}

.below-main {
    grid-row-start: 2;
}

.secondary {
    width: 100%;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    img {
        max-height: max(20rem, 40%);
        max-width: 100%;
    }
}

.body {
    width: 100%;
    background-color: white;
    .content {
        margin: 0 20vw 5rem 20vw;
        > div {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
}