@import '../personal-projects-styles.scss';

mat-divider {
    margin: 3rem 0;
    position: static !important;
}

h1 {
    margin: 1rem 0;
    font-weight: 500;
}

code {
    line-height: 0rem;
    background-color: $color-surface;
    color: $color-text;
    border: 1px solid $color-border;
}

.footnote {
    color: $color-muted;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}
